yfinance==0.2.55
pandas==2.2.2
ta==0.11.0
streamlit==1.36.0
plotly==5.22.0
requests==2.32.3
numpy==1.26.4
spacy==3.7.5
pytrends==4.9.2
arch==6.3.0
scikit-learn==1.5.0
joblib==1.4.2
psutil==6.0.0
retry
